<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

{% if page.author %}
  {%- assign xAuthor = page.author -%}
{%- else -%}
  {%- assign xAuthor = site.author-name -%}
{%- endif -%}
{%- if page.description -%}
  {%- assign xDescription = page.description -%}
{%- else -%}
  {%- assign xDescription = site.description -%}
{%- endif -%}

{% if xAuthor %}<meta name="author" content="{{ xAuthor }}" />{% endif %}
{% if xDescription %}<meta name="description" content="{{ xDescription }}" />{% endif %}
<link rel="canonical" href="{{ page.url | absolute_url }}" />
