
{%- if page.image -%}
  {%- assign xImage = page.image -%}
{%- else -%}
  {%- assign xImage = "/assets/img/default-article.png" -%}
{%- endif -%}

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type"  content="website" />
<meta property="og:image" content="{{ xImage | absolute_url }}" />
<meta property="og:url"   content="{{ page.url | absolute_url }}" />

{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />

