<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type"  content="website" />
<meta property="og:url"   content="{{ page.url | absolute_url }}" />
{% if page.image %}
<meta property="og:image" content="{{ page.image | absolute_url }}" />
{%- if page.image-d -%}<meta property="og:image:alt" content="{{ page.image-d }}" />{%- endif -%}
{%- if page.image-w -%}<meta property="og:image:width" content="{{ page.image-w }}" />{%- endif -%}
{%- if page.image-h -%}<meta property="og:image:height" content="{{ page.image-h }}" />{%- endif -%}
{% endif %}
{{ }}
{%- if page.description -%}
  <meta property="og:description" content="{{ page.description }}" />
{%- endif -%}
{{ }}
<meta property="og:site_name" content="{{ site.title }}" />
