<section class="page-info">
  {% if page.author %}
  <p class="page-info-row"><span>Author:</span> {{ page.author }}</p>
  {% endif %}

  <p class="page-info-row">
    {%- if page.date-modified -%}
      <span>Updated</span> {{ page.date-modified | date: site.date-format }}
    {%- else -%}
      {%- if page.date -%}
      <span>Created</span> {{ page.date | date: site.date-format }}
      {%- else -%}
      <span>Updated</span> {{ site.time | date: site.date-format }}
      {%- endif -%}
    {%- endif -%}
  </p>
</section>
