{% include social-share.svg %}

<div class="social-share">
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Share on Facebook"><use xlink:href="#facebook-square" /></svg></a>
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Tweet"><use xlink:href="#twitter-square" /></svg></a>
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Share on Reddit"><use xlink:href="#reddit-square" /></svg></a>
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Share on LinkedIn"><use xlink:href="#linkedin" /></svg></a>
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Share on WhatsApp"><use xlink:href="#whatsapp-square" /></svg></a>
  <a class="social-link" href="#">
    <svg class="social-icon" alt="Send email"><use xlink:href="#envelope-square" /></svg></a>
</div>
