{%- assign catName = page.categories | first -%}
{%- assign category = site.categories.[catName] -%}

{%- assign prevPost = false -%}
{%- assign nextPost = false -%}
{%- assign prev = false -%}
{%- assign found = false -%}

{%- for post in category -%}
  {%- if post.url == page.url -%}
    {%- assign prevPost = prev -%}
    {%- assign found = true -%}
  {%- else -%}
    {%- if found -%}
      {%- assign nextPost = post -%}
      {%- break -%}
    {%- else -%}
      {%- assign prev = post -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%}
The order of posts in the list is newer to older. To keep the code logic, I am reversing the results for display.
{%- endcomment -%}

{%- if prevPost or nextPost -%}
  <p class="page-info-row">In the same category:
{%- if nextPost -%}
  {%- assign post = nextPost -%}
  {%- if site.use-headline and post.headline -%}
    {%- assign xTitle = post.headline -%}
  {%- else -%}
    {%- assign xTitle = post.title -%}
  {%- endif -%}
  <a class="prev" href="{{ post.url | relative_url }}"><svg class="svg-icon" alt="Previous post"><use xlink:href="#img-left" /></svg> {{ xTitle }}</a>
{%- endif -%}
{%- if prevPost -%}
  {%- assign post = prevPost -%}
  {%- if site.use-headline and post.headline -%}
    {%- assign xTitle = post.headline -%}
  {%- else -%}
    {%- assign xTitle = post.title -%}
  {%- endif -%}
  <a class="next" href="{{ post.url | relative_url }}">{{ xTitle }} <svg class="svg-icon" alt="Next post"><use xlink:href="#img-right" /></svg></a>
{%- endif -%}
  </p>
{%- endif -%}
