{%- if page.description -%}
  {%- assign xDesc = page.description -%}
{%- else -%}
  {%- if page.content contains '<!--more-->' -%}
    {%- assign xDesc = page.content | split: '<!--more-->' | first | markdownify | strip_html | strip_newlines -%}
  {%- else -%}
    {%- assign max-len = site.post-excerpt-maxlen | default: 50 -%}
    {%- assign xDesc = page.content | markdownify | strip_html | strip_newlines | truncatewords: max-len -%}
  {%- endif -%}
{%- endif -%}
{%- if site.use-headline -%}
  {%- if page.headline -%}
    {%- assign xDesc = page.headline | append: " " | append: xDesc -%}
  {%- endif -%}
{%- endif -%}
{%- assign xDesc = xDesc | truncate: 160 -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "url": "{{ page.url | absolute_url }}",
  "description": "{{ xDesc }}"
}
</script>
