{%- assign nav-section = site.data.navigation[include.section] -%}
{% for nav in nav-section %}
  <p class="page-side-title">{{ nav.title }}</p>
  {% if nav.items %}
    {% for item in nav.items %}
      {%- if item.text -%}
      <p class="page-side-text">{{ item.text }}</p>
      {%- else -%}
      <p class="page-side-text"><a href="{{ item.url | relative_url }}"{% if item.url == page.url %} class="active-link"{% endif %}>{{ item.name }}</a></p>
      {%- endif -%}
    {% endfor %}
  {% endif %}
{% endfor %}
