@charset "utf-8";

a.button {
  &-main {
    padding: 0.5rem 1rem;
    border-radius: 100vh;
    background-color: $main-color; color: $color-back;
    border: 0.3rem solid $main-color;
    &:hover {
      background-color: $color-back; color: $link-color;
    }
  }
}
