@charset "utf-8";

.card {
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &-margin1 {
    margin: 1rem 0 0 0;
    &:first-child { margin-top: 0 }
  }
  &-margin2 {
    margin: 2rem 0 0 0;
    &:first-child { margin-top: 0 }
  }

  &-title {
    align-self: stretch;
    flex: 1 1 100%;
    text-align: center; margin: 0 0 0.5rem 0;
  }

  &-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &-row {
    margin-top: 0.5rem;
    &:first-child { margin-top: 0 }
  }
}

.card-hv {
  flex: 1 1 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include viewport-min-M {
    flex-direction: column;
  }

  &-margin1 {
    margin: 1rem 0 0 0;
    &:first-child { margin-top: 0 }
    @include viewport-min-M {
      margin: 0 0 0 1rem;
      &:first-child { margin-left: 0 }
    }
  }
  &-margin2 {
    margin: 2rem 0 0 0;
    &:first-child { margin-top: 0 }
    @include viewport-min-M {
      margin: 0 0 0 2rem;
      &:first-child { margin-left: 0 }
    }
  }

  &-title {
    align-self: stretch;
    flex: 0;
    text-align: right;  margin: 0 1rem 0 0;
    @include viewport-min-M {
      flex: 0 0 auto;
      text-align: center; margin: 0 0 0.5rem 0;
    }
  }
  &-title { @include viewport-min-M { flex: 0 0 auto } }

  &-body {
    flex: 1 1 auto;
    display: flex; flex-direction: column; align-items: stretch;
    justify-content: center;
    @include viewport-min-M {
      justify-content: flex-start;
    }
  }

  &-row {
    margin-top: 0.5rem;
    &:first-child { margin-top: 0 }
  }

  @include viewport-min-M {
    .flex-wM20 { flex: 0 0 19.999% } .flex-wM25 { flex: 0 0 24.999% } .flex-wM33 { flex: 0 0 33.333% }
    .flex-wM40 { flex: 0 0 39.999% } .flex-wM50 { flex: 0 0 49.999% } .flex-wM60 { flex: 0 0 59.999% }
    .flex-wM67 { flex: 0 0 66.666% } .flex-wM75 { flex: 0 0 74.999% } .flex-wM80 { flex: 0 0 79.999% }
  }
}

.flex-w20 { flex: 0 0 19.999% } .flex-w25 { flex: 0 0 24.999% } .flex-w33 { flex: 0 0 33.333% }
.flex-w40 { flex: 0 0 39.999% } .flex-w50 { flex: 0 0 49.999% } .flex-w60 { flex: 0 0 59.999% }
.flex-w67 { flex: 0 0 66.666% } .flex-w75 { flex: 0 0 74.999% } .flex-w80 { flex: 0 0 79.999% }

.card-title-img { width: 96px; height: 96px }

.card-title-img-100 {
  width: 100%;
  display: block;
}
