@charset "utf-8";

.page-footer {
  margin-top: auto;
  padding: $spacing-unit;
  width: 100%;

  display: flex;
  flex-direction: column; align-items: flex-start; justify-content: flex-start;
  font-size: 0.9rem;
  @include viewport-min-M  { flex-direction: row; align-items: stretch; flex-wrap: nowrap }
  @include viewport-min-XL { font-size: 1rem }

  p { margin: 0 }

  &-left  { flex: 0 1 auto; margin: 0; }
  &-right { flex: 0 0 auto;
    margin: 0 ; padding: 0;
    display: flex; flex-direction: column; align-items: flex-start;
    @include viewport-min-M {
      margin-left: auto; padding-left: $spacing-unit;
      display: flex; flex-direction: column; align-items: flex-end;
    }
  }
}
