@charset "utf-8";

.home {
  a { font-weight: inherit; text-decoration: none }

  $home-hero-height: 315px;

  &-hero {
    position: relative;
    width: 100%; min-width: 100%;
    height: $home-hero-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1, h2 { margin: 0 0 1rem 0; padding: 0 }
    h1 { font-size: 2rem;   font-weight: bold }
    h2 { font-size: 1.2rem; font-weight: normal }

    nav {
      margin-top: 2rem;
      font-size: 1.2rem;
      ul { list-style-type: none; margin: 0; padding: 0 }
      li {
        float: left;
        margin-right: 1rem;
      }
      li:last-child { margin-right: 0 }
    }

    &-text {
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      max-width: 70%;
    }

    .home-hero-image {
      position: absolute;
      right: 0; bottom: 0;
      height: $home-hero-height;
      z-index: 1;
    }
  }

  &-svg-ff { fill: $footer-color; fill-opacity: 1; stroke: $hover-color; stroke-width: 5px }
  &-svg-fh { fill: $hover-color;  fill-opacity: 1; stroke: $color-back;  stroke-width: 5px }
  &-svg-fm { fill: $main-color;   fill-opacity: 1; stroke: none;         stroke-width: 0 }
}
