@charset "utf-8";

.page {
  flex: 1 1 auto;
  display: flex; flex-direction: column; align-items: stretch;
  @include viewport-min-M  { flex-direction: row }

  p, h1, h2, h3 { margin: 0 0 0.3rem 0 }

  a { font-weight: inherit; text-decoration: none }

  &-hero {
    position: relative;
    width: 100%; min-width: 100%;
    min-height: 6rem;

    h1 { font-size: 2rem;   font-weight: bold }
    h2 { font-size: 1.2rem; font-weight: bold }
    h3 { font-size: 1.1rem; font-weight: normal }

    &-text {
      display: inline-block;
      text-align: left;
      margin: 1rem 2rem;
    }
  }

  &-info {
    margin: 0 auto 1rem auto; padding: 1rem 1rem 0 1rem;
    width: 100%; max-width: $page-body-width;
    border-top: 1px solid $color-back-1;

    &-row {
      margin-bottom: 0.5rem;
      &:last-child { margin-bottom: 0 }

      a {
        border: 1px solid $color-back-2;
        padding: 0.2em 0.4em;
        border-radius: 3px;
        &:hover { background-color: $color-back-1 }
      }
    }
  }

  &-body {
    margin: 0 auto; padding: 1rem 1rem 0 1rem;
    width: 100%; max-width: $page-body-width;

    h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, ol, ul { margin: 0 0 1rem 0 }
  }

  &-body-single {
    margin: auto; padding: 1rem;
    width: 100%; max-width: $page-body-width;
    text-align: center;
    line-height: 1.5rem;
  }

  &-sidebar {
    width: 100%;
    padding: 1rem;
    // background-color: $color-back-3;
    @include viewport-min-M {
      padding-left: 1rem;
      min-width: $page-sidebar-minw;
      max-width: $page-sidebar-maxw;
    }
  }

  &-side-title {
    text-align: left;
    font-weight: bolder;
    padding: 0 2px;
    @include viewport-min-M  { text-align: right }

    margin-top: 1em !important;
    &:first-child { margin-top: 0 !important }
  }

  &-side-text {
    text-align: left; display: inline-block; margin-right: 0.3em !important;
    &:before { content: "\2022"; margin-right: 0.3em; }
    @include viewport-min-M  {
      text-align: right; display: block; margin-right: 0 !important;
      &:before { content: ""; margin-right: 0 }
    }
  }

  &-column {
    /* */
  }
}
