@charset "utf-8";

table.hcdl, table.hcdc, table.hcdr, table.hcdx {
  border-collapse: collapse;
  margin-bottom: 1rem;
  th, td {
    border: 1px solid $code-color;
  }
  th {
    padding: 0 1rem;
    text-align: center;
    font-weight: bolder;
    background-color: $code-color;
  }
  td { padding: 0 1rem }
}

table.hcdl {
  td { text-align: left }
}

table.hcdc {
  td { text-align: center }
}

table.hcdr {
  td { text-align: right }
}

table.noborder {
  th, td { border: 0 }
}
