@charset "utf-8";

.tag {
  &-cloud {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0.3rem;
    }

    a {
      background-color: $color-back-1;
      border: 1px solid $color-back-2;
      border-radius: 3px;
      white-space: nowrap;
      padding: 0.2em 0.4em;
      &:hover { background-color: $color-back-2 }
    }
  }

  &-group {
    margin-bottom: 1rem;

    &-title { font-weight: bold; font-size: 1.2rem }
    &-list {
      list-style-type: none;

      li { margin-bottom: 0.5rem }

      a { font-size: 1rem; font-weight: normal }
      span {
        white-space: nowrap;
        font-size: 0.9rem; font-weight: normal;
      }
      div {
        display: block;
        font-size: 0.9rem;
        margin-top: 0.1rem;
      }
    }
  }
}
