@charset "utf-8";

.tag {
  &-cloud {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0.3rem;
    }

    a {
      background-color: $color-back;
      border: 2px solid $main-color;
      border-radius: 5px;
      padding: 5px 0.5rem;
      white-space: nowrap;
      &:hover { background-color: $color-back-2 }
    }
  }

  &-group {
    margin-bottom: 1rem;

    &-title { font-weight: bold; font-size: 1.2rem }
    &-list {
      font-size: 1rem; font-weight: normal;
      list-style-type: none;

      li { margin-bottom: 0.5rem }
      span { font-size: 0.95rem; white-space: nowrap }
      p {    font-size: 0.95rem }
    }
  }
}
