@charset "utf-8";

$font-family-body:   -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Helvetica,Arial,sans-serif !default;
$font-family-code:   "Roboto Mono",monospace !default;
$main-font-weight:   400 !default;
$main-line-height:   1.5 !default;

$spacing-unit:       16px !default;

$header-height:      100px !default;

$page-body-width:    992px;
$page-sidebar-minw:  200px;
$page-sidebar-maxw:  400px;

// functions

@function strip-unit($val) {
  @return $val / ($val - $val + 1);
}

// media

$media-w-small:  576px;
$media-w-medium: 768px;
$media-w-large:  992px;
$media-w-extra:  1200px;

@mixin viewport-min-SM { @media (min-width: $media-w-small)  { @content; } }
@mixin viewport-min-M  { @media (min-width: $media-w-medium) { @content; } }
@mixin viewport-min-L  { @media (min-width: $media-w-large)  { @content; } }
@mixin viewport-min-XL { @media (min-width: $media-w-extra)  { @content; } }

// typography

$font-size-small: 16px;
$font-size-extra: 18px;

// settings

* { box-sizing: border-box }

html {
  font-family: $font-family-body;
  font-size: $font-size-small;
  @include viewport-min-SM {
    font-size: calc(#{$font-size-small} + #{strip-unit($font-size-extra - $font-size-small)} * (100vw - #{$media-w-small}) / #{strip-unit($media-w-extra - $media-w-small)});
  }
  @include viewport-min-XL { font-size: $font-size-extra }
  font-weight: $main-font-weight;
  line-height: $main-line-height;
  padding: 0;
}

body {
  margin: 0; padding: 0;
  min-height: 100vh;
  display: flex; flex-direction: column;
  background-color: $color-back;
  color: $color-on-back;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, ol, ul {
  margin: 0; padding: 0;
  line-height: $main-line-height;
}

ul, ol { margin-left: $spacing-unit }
li { margin-bottom: 0 }

a {
  text-decoration: none;
  color: $link-color;
}
a.dotted {
  text-decoration: none;
  color: $link-color;
  &:hover { border-bottom: 2px dotted $link-color }
}

section {
  margin-bottom: 1rem;
  max-width: $media-w-extra;
}

.no-wrap { white-space: nowrap }

.site-header {
  background-color: $color-back;
  color: $color-on-back;

  display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: space-between;

  nav {
    margin: auto 2rem auto auto;
    flex: 0 1 auto;
    ul { list-style-type: none; margin: 0; padding: 0 }
    li {
      float: left;
      margin-right: 1px;
    }
    li:last-child { margin-right: 0 }
    a {
      padding: 0.5em;
      font-size: 1rem;
      border-radius: 3px;
      &:hover { background-color: $hover-color }
    }
    a.active-link { font-weight: bolder }
  }
}
a.logo {
  margin: auto 2rem; padding: 0;
  flex: 0 0 auto;
}
img.logo {
  width: 100px; height: 50px;
  display: block;
}

.row-vh {
  display: flex; flex-direction: column; align-items: stretch; justify-content: center;
  padding: 0;
  width: 100%; min-width: 100%;
  @include viewport-min-M {
    flex-direction: row; flex-wrap: nowrap;
  }
}
.row {
  display: flex; flex-direction: row; align-items: stretch; justify-content: center;
  padding: 0;
  width: 100%; min-width: 100%;
}
.row-no-flex {
  padding: 0;
  width: 100%; min-width: 100%;
}
.limited-width {
  min-width: unset;
  max-width: $media-w-extra;
  margin-left: auto; margin-right: auto;
}
.spaced-1 {
  margin-right: 0.5rem;
  &:last-child { margin-right: 0 }
}
.spaced-2 {
  margin-right: 1rem;
  &:last-child { margin-right: 0 }
}

.svg-icon {
  position: relative; top: .125em; // Place the icon on the text baseline.
  flex-shrink: 0;                  // Prevent the icon from shrinking inside a flex container.
  width: 1em; height: 1em;         // Scale the icon to match the font-size of the parent element.
  fill: currentColor;              // Let the icon take whatever color the parent has.
}
.svg-fill { fill: $color-on-back; fill-opacity: 1 }
.svg-s1 { stroke: $color-on-back; stroke-width: 1px; opacity: 0.9 }

code.language-plaintext {
  background-color: $code-color;
  white-space: nowrap;
}

a.block1 {
  text-decoration: none;
  color: inherit;
  border-left: 3px solid transparent;
  &:hover { border-left: 3px solid $link-color; }
}
a.block2 {
  text-decoration: none;
  color: inherit;
  &:hover { border-left: 3px solid $link-color; }
}


// layouts

@import '_home';
@import '_page';
@import '_footer';

// aux

@import '_tags';
@import '_pagination';
@import '_cards.scss';
@import '_buttons.scss';

// syntax highlighting

@import '_highlight';

// the next settings are moved here to give them higher precedence then the ones above

.margin-t1 { margin-top: 1rem }
.margin-b1 { margin-bottom: 1rem }
.margin-t2 { margin-top: 2rem }
.margin-b2 { margin-bottom: 2rem }

.padding-1 { padding: 1rem }
.padding-1h { padding: 0 1rem }
.padding-2 { padding: 2rem }
.padding-2h { padding: 0 2rem }

.stretched   { align-self: stretch }

.text-left   { text-align: left   }
.text-center { text-align: center }
.text-right  { text-align: right  }

.text-left-center  { text-align: left;   @include viewport-min-M { text-align: center; } }
.text-left-right   { text-align: left;   @include viewport-min-M { text-align: right; } }
.text-center-left  { text-align: center; @include viewport-min-M { text-align: left; } }
.text-center-right { text-align: center; @include viewport-min-M { text-align: right; } }
.text-right-center { text-align: right;  @include viewport-min-M { text-align: center; } }
.text-right-left   { text-align: right;  @include viewport-min-M { text-align: left; } }

.back-grad {
  background-image: linear-gradient($grad-top-color, $grad-bottom-color);
}

.back-footer-color      { background-color: $footer-color }
.back-hover-color       { background-color: $hover-color }
.back-grad-bottom-color { background-color: $grad-bottom-color }

.back-color             { background-color: $color-back; }
.back-color-footer-back { background-color: $footer-color; @include viewport-min-M { background-color: $color-back; } }
.back-color-back-footer { background-color: $color-back;   @include viewport-min-M { background-color: $footer-color; } }
.back-color-hover-back  { background-color: $hover-color;  @include viewport-min-M { background-color: $color-back; } }
.back-color-back-hover  { background-color: $color-back;   @include viewport-min-M { background-color: $hover-color; } }

.back-red-color    { background-color: $red-color }
.back-yellow-color { background-color: $yellow-color }
.back-green-color  { background-color: $green-color }
.back-blue-color   { background-color: $blue-color }

.border-footer-color      { border: 1px solid $footer-color }
.border-hover-color       { border: 1px solid $hover-color }
.border-grad-bottom-color { border: 1px solid $grad-bottom-color }
