---
title: Posts
date: 2020-04-08
categories: [ "Theme" ]
# for paginator the permalink must be left default !
permalink:
---

{% for post in paginator.posts %}
  <div class="paginator-post">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
  {{ post.content | split:'<!--preview-->' | first }}
  {% if post.content contains '<!--preview-->' %}
  <p><a href="{{ post.url }}">Read it</a></p>
  {% endif %}
  </div>
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&lt;&lt;</a>
  {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">&gt;&gt;</a>
  {% endif %}
</div>
