---
title: Posts
# for paginator the permalink must be left default !
permalink:
---

<section class="row-limited">
<div class="pagination">

{% for post in paginator.posts %}
<div class="pagination-post">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="pagination-post-body">
    {{ post.content | split:'<!--preview-->' | first }}
    {% if post.content contains '<!--preview-->' %}
    <p><a href="{{ post.url }}">Read it</a></p>
  {% endif %}
  </div>
</div>
{% endfor %}

<p class="text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"><img class="svg-icon" src="/assets/img/left.svg" alt="Previous page"></a>
  {% endif %}
    <span class="pagination-page-cnt">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"><img class="svg-icon" src="/assets/img/right.svg" alt="Next page"></a>
  {% endif %}
</p>

</div>
</section>
