@charset "utf-8";

$main-color:        #0f4c81; // hsl(208,  79%, 28%)

$color-back:        $main-color;
$color-on-back:     #e4f1fc; // hsl(208, 79%, 94%)
$link-color:        #5faaec; // hsl(208, 79%, 65%)

$footer-color:      $main-color;
$hover-color:       #156bb7; // hsl(208, 79%, 40%)
$grad-top-color:    $main-color;
$grad-bottom-color: $main-color;

$red-color:        #990000; // hsl(  0, 100%, 30%)
$yellow-color:     #adad00; // hsl( 60, 100%, 34%)
$green-color:      #009900; // hsl(120, 100%, 30%)
$blue-color:       #000099; // hsl(180, 100%, 30%)
