@charset "utf-8";

$main-color:        #0f4c81; // hsl(208,  79%, 28%)

$color-back:        $main-color;
$color-on-back:     #e4f1fc; // hsl(208, 79%, 94%)
$link-color:        #5faaec; // hsl(208, 79%, 65%)

$color-back-1:      $main-color;
$color-back-2:      #156bb7; // hsl(208, 79%, 40%)
$color-back-3:      $main-color;

$color-back-red:    #ffe5e5; // hsl(  0, 100%, 95%)
$color-back-yellow: #ffffe5; // hsl( 60, 100%, 95%)
$color-back-green:  #e5ffe5; // hsl(120, 100%, 95%)
$color-back-blue:   #e5ffff; // hsl(180, 100%, 95%)
