@charset "utf-8";

$main-color:        #0f4c81; // ~ hsl(208, 79%, 28%)

$color-back:        #ffffff;
$color-on-back:     #33374d; // hsl(230, 20%, 25%)
$link-color:        $main-color;

$footer-color:      #f7f7f7;
$hover-color:       #e1f1ff; // hsl(208, 99%, 94%)
$code-color:        #f6f8fa;
$grad-top-color:    $color-back;
$grad-bottom-color: #edf5fd; // hsl(208, 79%, 96%)

$red-color:         hsl(358, 99%, 80%);
$yellow-color:      hsl(60, 85%, 75%);
$green-color:       hsl(120, 80%, 75%);
$blue-color:        hsl(215, 85%, 80%);
