@charset "utf-8";

$main-color:        #a300a3; // hsl(300, 100%, 32%)

$color-back:        #ffffff;
$color-on-back:     #33374d; // hsl(230,  20%, 25%)
$link-color:        #800080; // hsl(300, 100%, 25%)

$color-back-1:      #f7f7f7;
$color-back-2:      #f0f0f0;
$color-back-3:      #f4f4fb; // hsl(240,  50%, 97%)

$color-back-red:    #ffe5e5; // hsl(  0, 100%, 95%)
$color-back-yellow: #ffffe5; // hsl( 60, 100%, 95%)
$color-back-green:  #e5ffe5; // hsl(120, 100%, 95%)
$color-back-blue:   #e5ffff; // hsl(180, 100%, 95%)
