---
layout: article
---

<header class="site-header">
  {% include site-header-menu.html section="home-links" %}
</header>

<section class="page-hero back-grad-3 text-center">
  <div class="page-hero-text">
    <h2>{{ page.title }}</h2>
    <h1>{{ page.headline }}</h1>
    {%- if site.post-desc-in-header -%}
      {%- if page.description -%}
      <h3>{{ page.description }}</h3>
      {%- endif -%}
    {%- endif -%}
  </div>
</section>

<article class="page-body">
{{ content }}
</article>

{% include post-info.html %}

{% include footer.html style="color-back-1" %}
